body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: #888888;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
}

:root {
    interpolate-size: allow-keywords;
    --global-scale: 0.75;
    --panel-emboss: 3px;
    --panel-radius: 0px;
    --border-color: #aaaaaa;
    --panelbg-color: #00000000;
    --main-color: #ffffff;
    --accent-color: #041f82;
}

.header-row {
  border: var(--border-color) inset calc(var(--global-scale) * var(--panel-emboss));
  border-radius: calc(var(--global-scale) * var(--panel-radius));
  background: var(--panelbg-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--global-scale) * 20px);
  margin: calc(var(--global-scale) * 10px);
  padding: calc(var(--global-scale) * 20px);
}

.title {
  color: var(--main-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  mix-blend-mode: overlay;
}

.title span {
  font-size: calc(var(--global-scale) * 40px);
  font-weight: bold;
}

.title img {
  width: calc(var(--global-scale) * 50px);
  height: calc(var(--global-scale) * 50px);
  margin-right: calc(var(--global-scale) * 20px);
}

.time-display {
  color: var(--main-color);
  display: flex;
  font-weight: bold;
  align-items: center;
  font-size: calc(var(--global-scale) * 20px);
  text-align: right;
  white-space: pre-line;
  opacity: 75%;
  mix-blend-mode: overlay;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background: none;
  border-radius: calc(var(--global-scale) * 100px);
  border:none;
  position: absolute;
  top: calc(var(--global-scale) * -10px);
  right: calc(var(--global-scale) * 0px);
  width: calc(var(--global-scale) * 100px);
  height: calc(var(--global-scale) * 100px);
  cursor: pointer;
  z-index: 100;
  transition-duration: 0.2s;
  opacity: 00%;
  transform: rotate(0deg);
  -webkit-tap-highlight-color: transparent;
}

.panels {
  position: relative;
}

.panels:hover .collapsible {
  opacity: 50%;
}

.collapsible img {
  width: 100%;
}

/* Add the .active class with JS */
.active, .collapsible::before{
  transform: rotate(90deg) scale(70%);
  top: calc(var(--global-scale) * -34px);
}

/* Style the collapsible content. */
.content {
  --active: false;
  --expanded-max-height: fit-content;
  --expanded-padding-top: calc(var(--global-scale) * 40px);
  --expanded-padding-bottom: calc(var(--global-scale) * 20px);
  --collapsed-max-height: calc(var(--global-scale) * 0px);
  --collapsed-padding-top: calc(var(--global-scale) * 30px);
  --collapsed-padding-bottom: calc(var(--global-scale) * 0px);
  border: var(--border-color) inset calc(var(--global-scale) * var(--panel-emboss));
  border-radius: calc(var(--global-scale) * var(--panel-radius));
  background: var(--panelbg-color);
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: left;
  overflow: hidden;
  gap: calc(var(--global-scale) * 10px);
  padding: calc(var(--global-scale) * 10px);
  margin: calc(var(--global-scale) * 10px);
  margin-top: calc(var(--global-scale) * 0px);
  transition-property: max-height, padding-top;
  transition-duration: 0.2s, 0.2s;
}

.monitor {
  border: var(--border-color) inset calc(var(--global-scale) * var(--panel-emboss));
  border-radius: calc(var(--global-scale) * var(--panel-radius));
  background: #ffffff00;
  color: var(--main-color);
  width: calc(var(--global-scale) * 168px);
  display: flex;
  height: calc(var(--global-scale) * 60px);
  padding: calc(var(--global-scale) * 0px);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition-duration: 0.2s;
}

.m-text{
  font-size: calc(var(--global-scale) * 15px);
  text-align: right;
}

.m-value{
  color: var(--accent-color);
  font-size: calc(var(--global-scale) * 40px);
  margin-left: calc(var(--global-scale) * 10px);
  text-align: right;
}

.m-unity{
  margin-left: calc(var(--global-scale) * 5px);
}

.monitor:hover{
  background: #ffffff00;
}

.category-text {
  display: none;
}

.category-text-base {
  color: var(--main-color);
  font-size: calc(var(--global-scale) * 20px);
  font-weight: bold;
  position: absolute;
  top: calc(var(--global-scale) * 4px);
}

.detail {
  display: none;
  color: #ffffff00;
  border: calc(var(--global-scale) * 1px) solid #ffffff00;
  border-radius: calc(var(--global-scale) * 5px);
  width: calc(var(--global-scale) * 0px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  position: absolute;
  font-weight: bold;
  top: calc(var(--global-scale) * 2px);
  left: calc(var(--global-scale) * 118px);
  padding: calc(var(--global-scale) * 2px);
  padding-inline: calc(var(--global-scale) * 5px);
  font-size: calc(var(--global-scale) * 14px);
  transition-duration: 0.2s;
}

.project-link:hover .detail{
  display: none;
  color: var(--accent-color);
  width: fit-content;
}

.project-link {
  border: var(--border-color) outset calc(var(--global-scale) * var(--panel-emboss));
  border-radius: calc(var(--global-scale) * var(--panel-radius));
  color: var(--main-color);
  background: #88888800;
  position: relative;
  justify-content: left;
  align-items: center;
  text-decoration: none;
  display: flex;
  height: calc(var(--global-scale) * 80px);
  width: calc(var(--global-scale) * 340px);
  flex-direction: row;
  align-items: left;
  text-align: left;
  padding-top: calc(var(--global-scale) * 20px);
  padding-bottom: calc(var(--global-scale) * 20px);
  backdrop-filter: blur(calc(var(--global-scale) * 5px));
  transition-property: transform, box-shadow;
  transition-duration: 0.2s, 0.2s;
  -webkit-tap-highlight-color: transparent;
}

.project-icon {
  border: var(--border-color) inset calc(var(--global-scale) * var(--panel-emboss));
  border-radius: calc(var(--global-scale) * var(--panel-radius));
  width: calc(var(--global-scale) * 80px);
  height: calc(var(--global-scale) * 80px);
  object-fit: contain;
  margin-left: calc(var(--global-scale) * 20px);
}

.project-link:hover{
  border: var(--border-color) inset calc(var(--global-scale) * var(--panel-emboss));
}

.project-link:hover .project-icon{
  margin-top: calc(var(--global-scale) * 5px);
}

.project-link:hover .text{
  margin-top: calc(var(--global-scale) * 3px);
}

.project-link:hover .feature-icons{
  margin-top: calc(var(--global-scale) * -8px);
}

.feature-icons{
  display: flex;
  gap: 10px;
  position: absolute;
  flex-direction: column;
  justify-content: first baseline;
  height: calc(var(--global-scale) * 100px);
  right: calc(var(--global-scale) * 28px);
  margin: calc(var(--global-scale) * -10px);
}

.feature-icons img{
  width: calc(var(--global-scale) * 16px);
}

.timeout{
  --checking: #ffffff33;
  --online: #00000000;
  --offline: #00000088;
  border-radius: calc(var(--global-scale) * 8px);
  display: flex;
  position: absolute;
  width: calc(var(--global-scale) * 6px);
  right: calc(var(--global-scale) * 6px);
  height: calc(var(--global-scale) * 100px);
}

.text{
  font-size: calc(var(--global-scale) * 20px);
  display: flex;
  flex-direction: column;
  margin-left: calc(var(--global-scale) * 15px);
}  

.widget{
  color: var(--accent-color);
  width: fit-content;
  font-weight: bold;
  font-size: calc(var(--global-scale) * 18px);
  padding: calc(var(--global-scale) * 0px);
  padding-inline: calc(var(--global-scale) * 0px);
  border-radius: calc(var(--global-scale) * 5px);
  margin-top: calc(var(--global-scale) * 5px);
}  

.widget span {
  font-size: 1em;
  margin-left: calc(var(--global-scale) * 15px);
}

@media only screen and (max-device-width: 1080px){
  .title span {
    font-size: 40px;
  }

  .category-text {
    font-size: 25px;
  }

  .category-text-base {
    font-size: 25px;
  }

  .content {
    padding-top: 40px;
  }

  .project-link {
    font-size: 30px;
    height: 90px;
    width: 440px;
  }

  .project-link img{
    width: 90px;
    height: 90px;
    margin-left: 20px;
  }

  .detail {
    font-size: 20px;
  }

  .text{
    font-size: 28px;
  }

  .widget{
    font-size: 20px;
  }

  .feature-icons {
    right: 25px;
  }

  .feature-icons img{
    width: 25px;
  }

  .time-display {
    font-size: 25px;
  }
}
