body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: #222e28;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  font-weight: bold;
}

:root {
    interpolate-size: allow-keywords;
    --global-scale: 0.75;
    --accent-color: #c39879;
    --main-color: #dfd9d6;
}

.header-row {
  background: #00000000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--global-scale) * 20px);
  margin: calc(var(--global-scale) * 10px);
  padding: calc(var(--global-scale) * 20px);
  border-radius: calc(var(--global-scale) * 10px);
  margin-bottom: calc(var(--global-scale) * 40px);
  border-bottom: 1px solid var(--main-color);
}

.title {
  color: var(--main-color);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title span {
  font-size: calc(var(--global-scale) * 40px);
  font-weight: bold;
  text-transform: uppercase;
}

.title img {
  width: calc(var(--global-scale) * 50px);
  height: calc(var(--global-scale) * 50px);
  margin-right: calc(var(--global-scale) * 20px);
}

.time-display {
  color: var(--main-color);
  display: flex;
  font-weight: bold;
  align-items: center;
  font-size: calc(var(--global-scale) * 20px);
  text-align: right;
  white-space: pre-line;
  opacity: 75%;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background: none;
  border-radius: calc(var(--global-scale) * 100px);
  border:none;
  position: absolute;
  top: calc(var(--global-scale) * -10px);
  right: calc(var(--global-scale) * 0px);
  width: calc(var(--global-scale) * 100px);
  height: calc(var(--global-scale) * 100px);
  cursor: pointer;
  z-index: 100;
  transition-duration: 0.2s;
  opacity: 00%;
  transform: rotate(0deg);
  -webkit-tap-highlight-color: transparent;
}

.panels {
  position: relative;
}

.panels:hover .collapsible {
  opacity: 50%;
}

.collapsible img {
  width: 100%;
}

/* Add the .active class with JS */
.active, .collapsible::before{
  transform: rotate(90deg) scale(70%);
  top: calc(var(--global-scale) * -30px);
}

/* Style the collapsible content. */
.content {
  --active: false;
  --expanded-max-height: fit-content;
  --expanded-padding-top: calc(var(--global-scale) * 40px);
  --expanded-padding-bottom: calc(var(--global-scale) * 20px);
  --collapsed-max-height: calc(var(--global-scale) * 0px);
  --collapsed-padding-top: calc(var(--global-scale) * 30px);
  --collapsed-padding-bottom: calc(var(--global-scale) * 0px);
  border-radius: calc(var(--global-scale) * 0px);
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: calc(var(--global-scale) * 20px);
  padding: calc(var(--global-scale) * 20px);
  margin: calc(var(--global-scale) * 10px);
  margin-top: calc(var(--global-scale) * 0px);
  position: relative;
  overflow: hidden;
  transition-property: max-height, padding-top;
  transition-duration: 0.2s, 0.2s;
  border-top: 1px solid var(--main-color);
  border-radius: calc(var(--global-scale) * 10px);
}

.monitor {
  color: var(--main-color);
  background: #ffffff00;
  display: flex;
  border-radius: calc(var(--global-scale) * 5px);
  width: calc(var(--global-scale) * 150px);
  height: calc(var(--global-scale) * 60px);
  padding: calc(var(--global-scale) * 0px);
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition-duration: 0.2s;
}

.m-text{
  font-size: calc(var(--global-scale) * 15px);
  text-align: right;
  opacity: 100%;
}

.m-value{
  color: var(--accent-color);
  font-size: calc(var(--global-scale) * 40px);
  margin-left: calc(var(--global-scale) * 10px);
  text-align: right;
  opacity: 100%;
}

.m-unity{
  margin-left: calc(var(--global-scale) * 5px);
}

.monitor:hover{
  transform: scale(1);
}

.category-text {
  color: var(--accent-color);
  font-size: calc(var(--global-scale) * 25px);
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: calc(var(--global-scale) * 4px);
}

.category-text-base {
  display: none;
}

.detail {
  color: #5284aa00;
  background: #ffffff00;
  width: calc(var(--global-scale) * 0px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
  display: flex;
  /* position: absolute; */
  top: calc(var(--global-scale) * -8px);
  left: calc(var(--global-scale) * -4px);
  padding: calc(var(--global-scale) * 2px);
  padding-inline: calc(var(--global-scale) * 5px);
  font-size: calc(var(--global-scale) * 14px);
  transition-duration: 0.2s;
}

.project-link:hover .detail{
  color:var(--accent-color);
  width: fit-content;
}

.project-link {
  color:var(--main-color);
  border: calc(var(--global-scale) * 1px) solid #ffffff00;
  border-radius: calc(var(--global-scale) * 0px);
  position: relative;
  justify-content: left;
  text-align: left;
  align-items: center;
  text-decoration: none;
  display: flex;
  height: calc(var(--global-scale) * 80px);
  width: calc(var(--global-scale) * 400px);
  flex-direction: row;
  padding-top: calc(var(--global-scale) * 20px);
  padding-bottom: calc(var(--global-scale) * 20px);
  transition-property: transform, box-shadow;
  transition-duration: 0.2s, 0.2s;
  -webkit-tap-highlight-color: transparent;
}

.project-icon {
  display: none;
  background-color: var(--main-color);
  width: calc(var(--global-scale) * 60px);
  height: calc(var(--global-scale) * 60px);
  margin-left: calc(var(--global-scale) * 0px);
  object-fit: contain;
  filter: grayscale() brightness(1) contrast(2);
  mix-blend-mode: screen;
}

.project-link:hover img {
  opacity: 100%;
}

.feature-icons{
  display: none;
  position: absolute;
  flex-direction: row;
  justify-content: space-around;
  /* height: calc(var(--global-scale) * 100px); */
  left: calc(var(--global-scale) * 0px);
  margin: calc(var(--global-scale) * -20px);
}

.feature-icons img{
  width: calc(var(--global-scale) * 16px);
}

.timeout{
  --checking: #ffffff33;
  --online: #00000000;
  --offline: #00000088;
  border-radius: calc(var(--global-scale) * 8px);
  display: flex;
  position: absolute;
  width: calc(var(--global-scale) * 6px);
  left: calc(var(--global-scale) * 6px);
  height: calc(var(--global-scale) * 100px);
}

.text{
  font-size: calc(var(--global-scale) * 25px);
  display: flex;
  text-transform: uppercase;
  flex-direction: column;
  margin-left: calc(var(--global-scale) * 20px);
}  

.widget{
  color: var(--accent-color);
  border: calc(var(--global-scale) * 1px) solid #ffffff00;
  width: fit-content;
  font-size: calc(var(--global-scale) * 20px);
  padding: calc(var(--global-scale) * 0px);
  padding-inline: calc(var(--global-scale) * 0px);
  margin-top: calc(var(--global-scale) * 0px);
}  

.widget span {
  margin-left: calc(var(--global-scale) * 15px);
}

@media only screen and (max-device-width: 1080px){
  .title span {
    font-size: 40px;
  }

  .category-text {
    font-size: 25px;
  }

  .category-text-base {
    font-size: 25px;
  }

  .content {
    padding-top: 40px;
  }

  .project-link {
    font-size: 30px;
    height: 90px;
    width: 440px;
  }

  .project-link img{
    width: 90px;
    height: 90px;
    margin-left: 20px;
  }

  .detail {
    font-size: 20px;
  }

  .text{
    font-size: 28px;
  }

  .widget{
    font-size: 20px;
  }

  .feature-icons {
    right: 25px;
  }

  .feature-icons img{
    width: 25px;
  }

  .time-display {
    font-size: 25px;
  }
}
